doctype html 
html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css")
        title= pageTitle
    body.container 
        .jumbotron 
            h2= pageTitle

        table.table.table-hover.table-striped 
            thead 
                tr 
                    th ID
                    th NAME
                    th
                    th
                    th
            tbody
                each emp in empList
                    tr
                        td= emp.id
                        td= emp.name
                        td
                            a.text-info(href="#") Details
                        td
                            a.text-warning(href="#") Edit
                        td
                            a.text-danger(href="#") Delete 

        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")